/.DS_Store
/img/.DS_Store
/js/.DS_Store
/splash.psd
/thumb.psd
/sections/split-slider/thumb.psd
/sections/split-slider/splash.psd
/sections/split-slider/.DS_Store
/sections/split-slider-fullwidth/thumb.psd
/sections/split-slider-fullwidth/splash.psd
/sections/split-slider-fullwidth/.DS_Store
/sections/.DS_Store